.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vh;
  padding: 1rem;
}

.title-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 4rem;
  width: auto;
}

.input-box {
  width: 100%;
  height: 25vh;
  margin-bottom: 1rem;
  max-width: 100vh;
  overflow-y: scroll;
}

.output-box {
  width: 100%;
  max-width: 100vh;
  margin-bottom: 1rem;
  height: 25vh;
  border: 1px solid black;
  padding: 6px 12px;
  font-size: 1.8rem;
  color: black;
}

.language-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.buttons-container {
  display: flex;
  width: 100%;
  max-width: 100vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submit-button {
  margin-top: 1rem;
  float: left;
}

.clear-button {
  margin-top: 1rem;
  float: right;
}
